<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
        
            <h1>Todos</h1>
            <hr>
            <button class='buttons' ng-click="markAll()">Mark all</button>
            <button class='buttons' ng-click="clearCompleted()">Clear completed</button>
            
            <button class='buttons' ng-click='filterStatusValues = [0, 1]'>All</button>
            <button class='buttons' ng-click='filterStatusValues = [0]'>Active</button>
            <button class='buttons' ng-click='filterStatusValues = [1]'>Completed</button>
            <ul>
                <p>
                    Add task: <input type="text" id="newTaskDesc" ng-click='watchNewTaskEntries()'>
                    <button id='addTaskButton' class='buttons' ng-click='addTask()'>add task</button>
                </p>
                <li ng-repeat="(todoId, todo) in getFilteredTodos()">
                    <button class='buttons' ng-click="markTask(todoId)">V</button>
                    {{todo.id}} <span class='tasks' id='taskValue{{todoId}}' contenteditable="true" ng-focus='watchTaskEdit(todoId)' ng-blur='reportTaskEdit(todoId)'>{{todo.value}}</span> {{todo.status}}
                    <button class='buttons' ng-click="dropTask(todoId)">X</button>
                </li>
            </ul>
            
            <b>Number of active tasks: {{getNumberOfActiveTasks()}}</b><br>
            <small>Click on a task to edit it</small>
            
            <h3>For testing purposes - DELETE!</h3>
            <p>
                {{todos}}
            </p>
            
            filterStatusValues: {{filterStatusValues}};
            
        </div>
    </div>
</div>