<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
        
            <h1>Todos</h1>
            <hr>
            <button class='buttons' ng-click="markAll()">Mark all</button>
            <button class='buttons' ng-click="clearCompleted()">Clear completed</button>
            <br><br>
            Filters:
            <button class='buttons' ng-click='filterStatusValues = [0, 1]'>All</button>
            <button class='buttons' ng-click='filterStatusValues = [0]'>Active</button>
            <button class='buttons' ng-click='filterStatusValues = [1]'>Completed</button>
            <p>
                Add task: <input type="text" id="newTaskDesc" ng-click='watchNewTaskEntries()'>
                <button id='addTaskButton' class='buttons' ng-click='addTask()'>add task</button>
            </p>
            <table>
                <tr>
                    <th class='taskIndex'>#</th>
                    <th class='taskStatus'>Status</th>
                    <th class='taskDescription'>Description</th>
                    <th class='taskDelete'></th>
                </td>
                <tr ng-repeat="(todoId, todo) in getFilteredTodos()">   
                    <td class='taskIndex'><span class='buttons' ng-click="markTask(todoId)">{{$index + 1}}</span></td>                    
                    <td class='taskStatus'>{{(todo.status === 0)? 'Active' : 'Completed'}}</td>
                    <td class='taskDescription'><span class='tasks' id='taskValue{{todoId}}' contenteditable="true" ng-focus='watchTaskEdit(todoId)' ng-blur='reportTaskEdit(todoId)'>{{todo.value}}</span></td>
                    <td class='taskDelete'><img class='buttons' src='partials/images/bin.jpg' ng-click="dropTask(todoId)" /></td>
                </tr>
            </table>
            <br>
            <b>Number of active tasks: {{getNumberOfActiveTasks()}}</b><br>
            <small>Click on a task to edit it</small>            
        </div>
    </div>
</div>