/* app css stylesheet */

body {
  padding-top: 20px;
}

.todos {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.buttons, .tasks {
    cursor: hand;
}

table {
    border-spacing: 0;
}

table , th, td {
    border: 1px solid black;
}

table td, table th {
    padding: 10;
}

.taskIndex {
    width: 5px;
}

.taskStatus {
    width: 70px;
}

.taskDescription {
    width: 500px;
    max-width: 500px;
}

.taskDelete {
    width: 20px;
}